### MATLAB ###
# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Octave session info
octave-workspace

### Microsoft Office ###
*.tmp

## Word temporary
~$*.doc*

## Word Auto Backup File
Backup of *.doc*

## Excel temporary
~$*.xls*

## Excel Backup File
*.xlk

## PowerPoint temporary
~$*.ppt*

## Visio autosave temporary files
*.~vsd*
